body {
	background-color:#A3E2E4;
	margin-top: 100px;
  	margin-bottom: 100px;
  	margin-right: 150px;
  	margin-left: 80px;
	font-family: 'Playfair Display', serif;
}
h1 {
	color: yellow;
}
h2 {
	color: yellow;
}
h3 {
	color: yellow;
	font-family: sans-serif;
}
ul {
	font-style: italic;
}