body {
	background-color:#A1D2CE;
	margin-top: 200px;
  	margin-bottom: 200px;
  	margin-right: 250px;
  	margin-left: 250px;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	max-width: 100%;
}
h1 {
	color: #134D62;
	font-size: 100px;
}
h2 {
	color: #134D62;
}
h3 {
	color: #134D62;
}
a:hover{
	background-color: #E1C560;
}
a{
	color: #163654;
	text-decoration: none;
}