body {
	background-color:#9CE2D7;
	margin-top: 200px;
  	margin-bottom: 200px;
  	margin-right: 250px;
  	margin-left: 250px;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
}
h1 {
	color: #386A9A;
	font-size: 100px;
}
h2 {
	color: #386A9A;
}
h3 {
	color: #386A9A;
}
ul {
	font-style: italic;
}
a:hover{
	background-color: #E1C560;
}
a{
	color: #163654;
	text-decoration: none;
}