body{
	font-family: "elmhurst", serif;
	font-weight: 1000;
	font-style: normal;
	background: #E2D5A9;
	margin-top: 100px;
  	margin-bottom: 100px;
  	margin-right: 150px;
  	margin-left: 100px;
}
p{
	font-family: "elmhurst";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}
ol{
	font-family: "elmhurst";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}
a:hover {
  	color:#48435C;
  	background-color: #CAFF8A;
}
a{
	color
}