.pen {
	width:600px;
	height: 29px;
	background-color: black;
	margin: auto;
	display: flow-root;
	border-radius: 10px;
}
.tip1 {
	width: 0;
	height: 0;
	border-left: 40px solid white;
	border-bottom: 15px solid transparent;
}
.tip2 {
	width: 0;
	height: 0;
	border-left: 40px solid white;
	border-top: 15px solid transparent;
}
.board {
	width:1000px;
	height: 800px;
	background-color: skyblue;
	border-radius: 40px;
	margin: auto;
}
.upper {
	width: 950px;
	height: 150px;
}
.touchpad {
	width: 980px;
	height: 640px;
	position: relative;
	left: 10px;
	background-color: black;
	border-radius: 35px;
	display: flow-root;
}
.wacom {
	font-size: 10px;
	font-family: sans-serif;
	position: relative;
	left: 270px;
	width: 100px;
	color: white;
}