.base {
	width:200px;
	height: 400px;
	position: absolute;
	top:;
	left:;
	background-color: ;
}
.neck {
	width:;
	height: ;
	position: absolute;
	top:;
	left:;
	background-color: ;
}
.shade {
	width: 150px;
	height: 400px;
	position: absolute;
	top:;
	left:;
	background-color: ;
}