/*Checkerboard*/
body{
	margin: 0;
	background-color: black;
}
.red {
	background-color: crimson;
	width: 5vw;
	height: 5vw;
	float: left;
}
.teal {
	background-color: mediumturquoise;
	width: 5vw;
	height: 5vw;
	float: left;
}
.board {
	width: 40vw;
	margin: 50px auto;
}
/*column*/
.contain {
	width: 950px;
	height: 1000px;
	display: flow-root;
	margin: 50px auto;
}
header {
	width: 950px;
	height: 150px;
	background-color: tomato;
	margin-bottom: 25px;
}
nav {
	width: 950px;
	height: 50px;
	background-color: tomato;
}
.col {
	width: 300px;
	height: 800px;
	background-color: tomato;
	float: left;
	margin-top: 25px;
	margin-right: 25px;
}
.col3 {
	width: 300px;
	height: 800px;
	background-color: tomato;
	float: left;
	margin-top: 25px;
}
footer {
	width: 950px;
	height: 150px;
	background-color: tomato;
	float: left;
	margin-top: 25px;
}
/*blog*/
.board1 {
	width: 1000px;
	height: 900px;
	display: flow-root;
	margin: 25px auto;
}
.board2 {
	width: 1000px;
	height: 900px;
	display: flow-root;
	margin: 25px auto;
}
.header {
	width: 1000px;
	height: 200px;
	background-color: mediumturquoise;
    float: left
}
.big {
	width: 800px;
	height: 500px;
	background-color: mediumturquoise;
    float: left;
    margin-top: 125px;
}
.small {
	width: 175px;
	height: 250px;
	background-color: mediumturquoise;
    float: left;
    margin-top: 125px;
    margin-left: 25px;
}
.long {
	width: 800px;
	height: 50px;
	background-color: mediumturquoise;
    float: left;
    margin-top: 25px;
}
/*tennis court*/
.upper {
	width: 800px;
	height: 450px;
	display: flow-root;
	margin: 2px auto;
}
.lower {
	width: 800px;
	height: 450px;
	display: flow-root;
	margin: 2px auto;
}
.left {
	width: 125px;
	height: 394px;
	background-color: seagreen;
	margin-right: 4px;
	float: left;
}
.mid {
	width: 508px;
	height: 398px;
	display: flow-root;
	float: left;
}
.back {
	width: 504px;
	height:140px;
	background-color: seagreen;
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
}
.right {
	width: 125px;
	height: 394px;
	background-color: seagreen;
	margin-bottom: 4px;
	float: left;
}
.front {
	width: 250px;
	height:250px;
	background-color: seagreen;
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
}
