* {
	box-sizing: border-box;
}
body {
	margin: 0px;
}
div { 
	width: 400px;
	height: 400px;
	margin: 5px;
	float: left;
	padding: 25px;
	border: 10px solid navy;
}
#one {
	background-color: lightskyblue;
}
#one-inside {
	width: 100%;
	height: 100%;
	background-color: white;
}
#two {
	background-color: skyblue;
}
#three {
	background-color: deepskyblue;
}
#four {
	background-color: blue;
}