* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background: rgba(0, 0, 0, .9);
}
.p1-1 {
	width: 300px;
	height: 300px;
	background: orchid;
	float: left;
	margin: 10px 30px;
	transform: skew(10deg);
}
.p1-2 {
	width: 300px;
	height: 300px;
	background: lightblue;
	float: left;
	margin: 10px 30px;
	transform: rotate(45deg);
	transform: skew(170deg);
}
